a
{
	text-decoration:none;
}

body
{
	background-color: #636e72;
	max-width: 80rem;
	margin: auto;
	font-family: 'Oswald', sans-serif;
}

header
{
	margin-bottom: 2rem;
}

ul, ul a
{
	padding: 15px;
	text-align:center;
	color: white;
}

li:hover
{
	transition-duration: 400ms;
	cursor: pointer;
	background-color:white;
	color:#2d3436;
}
ul li
{
	list-style:none;
	display:inline;
	margin: 15px;
	padding: 1em;
	background-color:#636e72;
	border: 5px solid white;
}

.general
{
	background-color:#dfe6e9;
	overflow:auto;
	height:45rem;
	width: 80rem;
	padding:2%;
	display:flex;
	align-items:stretch;
	justify-content:space-between;
}


.section1
{
	background-image:url('https://ksassets.timeincuk.net/wp/uploads/sites/56/2018/06/armchair-with-lamp.jpg');
	background-position:center;
	opacity: 0.7;
	width: 32%;
	height: 100%;
}

.section1:hover,.section2:hover, .section3:hover
{
	transition-property: opacity, border;
	transition-duration:300ms;
	border: double solid black;
	opacity:1;
}
.section2
{
	background-image:url('https://i.pinimg.com/originals/9f/aa/27/9faa27bb4112d480a050cc785d5583c2.jpg');
	background-position:center;
	width: 32%;
	height: 100%;
	opacity:0.5;
}

.section3
{
	background-image:url('https://i.pinimg.com/originals/2e/8a/5c/2e8a5ca41d43da19f52ac999623ec242.jpg');
	background-position:center;
	opacity:0.7;
	width: 32%;
	height: 100%;
}

.section1 a, .section2 a, .section3 a
{
	border:5px solid #dfe6e9;
	color: black;
}
