@keyframes slideInFromLeft {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}


body {  
 animation: 1s ease-out 0s 1 slideInFromLeft;
}
a
{
	text-decoration: none;
	color:black;
}
html
{
	background-image: url("media/background.jpeg");
	background-size:100%;
	background-position:top;
	font-family: Roboto, sans serif;
	display:flex;
	justify-content:center;
	align-items:center;
}

input
{
	width: 100vw;
	height: 3vh;
	text-align:center;

}

section
{
	width:70vw;
	background-color: #ecf0f1;
	display:flex;
	flex-wrap: wrap;
	justify-content:space-around;
}

[class^=section] /*Centrage du texte dans les div*/
{
	display:flex;
	justify-content:center;
	align-items:center;
	opacity: 0.7;
	transition-duration: 400ms;
	position:relative;
}

[class^=section]:hover
{
	transition-duration:400ms;
	opacity: 1;
}
h1
{
	display:inline-block;
	border: 1px solid black;
	padding: 1vh;
	transition-duration:300ms;
}

[class^=section]:hover h1,.home:hover h1
{
	transition-duration: 300ms;
	background-color:#353b48;
	color: white;
}

.home 
{
	background-color:#dfe6e9;
	background-position:center;
	width:100vw;
	text-align: center;
}
.section1
{
	background: url(media/section1bg.png);
	background-size:cover;
	width:35vw;
}

.section2
{
	background: url(media/recherchebrygja.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center;
	height: 35vh;
}
.section3
{
	background: url(media/recherchefireheten.jpg);
	background-size:cover;
	background-position:center;
	width: 35vw;
	height: 35vh;
}
.section4
{
	background: url(media/lit.jpg);
	background-size:cover;
	background-position:center;
	width: 35vw;
	height: 35vh;
}
.section5
{
	background: url(media/meublejardin.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center;
	height: 35vh;
}
.section6
{
	background: url(media/cuisine.jpg);
	background-size:cover;
	background-position:center;
	width:35vw;
}

@media screen and (max-width: 800px){
	section{
		width: 100vw;
			}
	[class^=section]{
		margin:0;
		padding:0;
		height:30vh;
		width: 100vw;
	}
}