@keyframes slideInFromLeft {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

body {  
  animation: 1s ease-out 0s 1 slideInFromLeft;
}

a
{
	text-decoration: none;
}
html
{
	background-image: url("media/background.jpeg");
	background-position:top;
	background-repeat: no-repeat;
	display:flex;
	justify-content:center;
	align-items:center;
	height: 100vh;
}
section
{
	width: 70vw;
	height: 70vh;
	background-color: #ecf0f1	;
	display:flex;
	justify-content:space-around;
	padding: 1vh;
}

[class^=section] h1
{
	
}

[class^=section]
{
	font-family: Roboto, sans serif;
	display:flex;
	justify-content:center;
	align-items:center;
	width: 32vw;
	color: black;
	margin: 1vh;
	opacity: 0.7;
	transition-duration: 400ms;
}

[class^=section]:hover
{
	transition-duration:400ms;
	opacity: 1;
	width: 35vw;
}

h1
{
	border: 1px solid black;
	padding: 1vh;
	transition-duration:300ms;
}

[class^=section]:hover h1
{
	transition-duration: 300ms;
	background-color:#353b48;
	border: 1px solid white;
	color: white;
}

.section1
{
	background: url(https://ksassets.timeincuk.net/wp/uploads/sites/56/2018/06/armchair-with-lamp.jpg);
	background-position:center;
}
.section2
{
	background: url(https://i.pinimg.com/originals/9f/aa/27/9faa27bb4112d480a050cc785d5583c2.jpg);
	background-position:bottom;
}
.section3
{
	background: url(https://i.pinimg.com/originals/2e/8a/5c/2e8a5ca41d43da19f52ac999623ec242.jpg);
	background-position:center;
}

@media screen and (max-width: 760px){
	section{
		flex-direction: column;
		padding:0;
		margin:0;
		width: 100vw;
		height: 100vh;
		overflow: hidden;
	}
	[class^=section]{
		margin:0;
		padding:0;
		height:33vh;
		width: 100vw;
		overflow: hidden;
	}
	[class^=section]:hover
	{
		width:100vw;
		overflow: hidden;
	}
}