html
{
	background-image: url("media/background.jpeg");
	background-size:100%;
	background-position:top;
	font-family: Roboto, sans serif;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.home
{
	text-decoration: none;
	color:black;
	font-size: 2vh;
	display: block;
	height: 1vh;
	text-align: center;
	background-color: #dbdbdb;
	line-height: 1vh;
	padding:1vw;
}

.home:hover
{
	transition-duration: 300ms;
	background-color: #bcbcbc;
}

.home:active
{
	background-color: #9e9e9e;
}

section
{
	width: 60vw;
	background-color: white;
}

h1
{
	text-align: center;
	padding:1vh;
}

table:first-child input
{
	float:right;
}

.produit
{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1vw;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	transition-duration: 300ms;
}

.produit:hover, .coord:hover
{
	transition-duration:300ms;
	background: #353b48;
	color: white;

}

img
{
	width:10vh;
	height:10vh;
}

.titles
{
	padding:1vw;
	display: flex;
	justify-content: space-between;
}

.formulaire
{
	display:flex;
	justify-content: space-between;
	padding:0 2vh 0 2vh;
}

.button
{
	text-align: center;
}

button
{
	height:7vh;
	width: 13vw;
	background-color: #5fba7d;
	border: none;
	cursor: pointer;
	margin: 1vw;
	font-size: 1vw;
}

button:hover
{
	transition-duration: 300ms;
	background-color: #6bff9b;
}

button:active
{
	background-color: #2d8248;
}



@media screen and (max-width: 1250px)
{
	html,body
	{
	display: flex;
	align-items: center;
	}
	section
	{
		width: 100vw;
	}
	button
	{
		font-size: 1.5vw;
		width: 17vw;
	}

}

@media screen and (max-width: 800px)
{
	html,body
	{
	display: block;
	margin:0;
	}
	.home
	{
		height: 5vh;
		line-height: 5vh;
	}
	section
	{
		width: 100vw;
	}
	.formulaire
	{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	table h2
	{
		text-align: center;
	}
	.produit
	{
		display:flex;
		flex-direction: column;
	}
	button
	{
		font-size: 2.5vw;
		width: 20vw;
	}

}